<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>LightYears</title>
</head>
<body>
<div class = "content-box">
 <div class="planet-name">
        <p><strong>Введите название планеты: </strong></p>
     <label for="ipv4"></label><input type="text" class="planet-name" id="ipv4" name="ipv4" placeholder="Введите планету" pattern="^(?>(\d|[1-9]\d{2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(?1)$" required>
    </div>
<div class="destination">
        <p><strong>Введите количество световых лет до планеты: </strong></p>
    <label for="ipv4"></label><input type="text" class="destination" id="ipv4" name="ipv4" placeholder="Введите расстояние" pattern="^(?>(\d|[1-9]\d{2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(?1)$" required>
    </div>
    <div class="button-send">
            <div class="button-content">
            </div>
        </div>
    <div class="text-result">
    <p><strong>Результат: </strong></p>
        </div>
 <div class="answer-box">
            </div>
    </div>
</body>
</html>