<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/icon.png"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>LightYears</title>
</head>
<body>
<div class = "content-box">
    <form action="" method="post">
        {% csrf_token %}
 <div class="planet-name">
        <p style="color:white;" font-size="35"><strong>Введите название планеты: </strong></p>
     <label for="ipv4"></label><input name="name" type="text" class="planet-name">
    </div>
<div class="destination">
        <p style="color:white;" font-size="35"><strong>Введите количество световых лет до планеты: </strong></p>
    <label for="ipv4"></label><input name="number" type="text" class="destination">
    </div>
    <div class="button-send">
            <div class="button-content">
                <input type="submit" value="Отправить">
            </div>
        </div>
        </form>
    <div class="text-result">
    <p><strong>Результат: </strong></p>
        </div>
 <div class="answer-box">
     <p>{{ result }}</p>
            </div>
    </div>
<div class="get-back-button">
    <a href="/"><input type="button" value="Начать ввод данных заново"></a>
</div>
</body>
</html>