<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/icon.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/error_styles.css"/>
    <title>LightYears</title>
</head>
<body>
<div class = "error-img">
    <p><b>Упс...Кажется введены некорректные данные</b></p>
    <p><b>Введите корректные данные</b></p>
    <img src="../../static/img/error.png" alt="errpr_page" width="450px" height="450px"/>
</div>
<div class="back-button">
    <a href="/"><input type="button" value="Начать ввод данных заново"></a>
</div>
</body>
</html>